:root, [data-md-color-scheme=default] {
    --md-default-fg-color--light: #283e3e;
    --md-default-fg-color: #283e3e;
    --md-text-font: "Microsoft Yahei UI","Noto Sans Simplified Chinese";
}

.md-typeset h1, .md-typeset h2, .md-typeset h3 {
    font-weight: 600;
    color:#283e3e;
    /* letter-spacing: -.01em; */
}


[data-md-color-primary=white] {
    --md-primary-bg-color: #283e3e;
    --md-typeset-a-color: #006b75;
}

.md-typeset a {
    color: #007474;
}

.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
    font-weight: 600;
}

[data-md-color-primary=white] .md-search__input+.md-search__icon {
    color: #283e3e;
}

.md-typeset code {
    background-color: #e4e4e4;
    font-weight: 600;
    font-family: "Microsoft Yahei UI","Noto Sans Simplified Chinese";
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}


.md-grid {
    max-width: 70rem;
}

@media (max-width: 1919px) and (min-width: 768px) {
    img {
        zoom: 80%;
    }
    @-ms-viewport { width: 1920px; }
}

.md-typeset table:not([class]) th {
    font-weight: 700;
    min-width: 3rem;
    padding-top: 0.9375em;
    padding-right: 1.0em;
    padding-bottom: 0.9375em;
    padding-left: 1.0em;
    vertical-align: middle;
}

.md-typeset table:not([class]) td {
    border-top: .05rem solid var(--md-typeset-table-color);
    padding-top: 0.9375em;
    padding-right: 1.0em;
    padding-bottom: 0.9375em;
    padding-left: 1.0em;
    vertical-align: middle;
}

td, th {
    font-size: 10pt;
    vertical-align: middle;
    /* height: 40pt; */
}

.md-typeset img, .md-typeset svg, .md-typeset video {
    vertical-align: middle;
}

.md-header__button.md-logo{
    display: none;
}

[dir=ltr] .md-header__title {
    margin-left: 0.5rem;
}

/* @media screen and (max-width: 76.1875em)
[dir=ltr] .md-sidebar--primary {
    left: -12.1rem;
} */

@media screen and (max-width: 76.1875em){
    .md-sidebar--primary {
        width: 14rem;
    }
    [dir=ltr] .md-sidebar--primary {
        left: -14rem;
    }
    [data-md-toggle=drawer]:checked~.md-container .md-sidebar--primary {
        box-shadow: var(--md-shadow-z3);
        transform: translateX(14rem);
    }
    /* .md-nav--primary .md-nav__title {
        height: 3.6rem;
        padding-top: 0.4rem;
        padding-right: 0.8rem;
        padding-bottom: 0.2rem;
        padding-left: 0.8rem;
    } */
}

@media screen and (min-width: 78em){
.md-sidebar {
    width: 13rem;
}}